@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 1rem;
    height: 100%;
}

header,
nav,
footer,
body {
    border: 3px red solid;
    min-height: 50px;
    margin: 0.5rem;
    min-width: 400px;
}

/* barra de navegacion */
.navar {
    background-color: rgb(219, 164, 164);
    display: flex;
    flex-flow: row wrap;
    place-content: space-around;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    place-content: space-around;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;

}

li a:visited {
    color: rgb(75, 64, 64);
}

li a:hover {
    background-color: rgb(177, 148, 148);
    color: blue;
}

.logo {
    text-align: center;
    color: black;
    border-radius: 50%;
}

.logo:visited {
    color: rgb(75, 64, 64);
}

.logo:hover {
    color: blue;
}


/* fin barra de navegacion*/

/*INICIO- carrusel*/
.carrConteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    max-width: 1700px;
    padding: 0 35px;
    position: relative;
}

.carrConteiner i {
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
    line-height: 46px;
    background: white;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.carrConteiner i:first-child {
    left: -23px;
}

.carrConteiner i:last-child {
    left: 98%;
}

.carrConteiner .carrusel {
    white-space: nowrap;
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carrusel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carrusel.dragging img {
    pointer-events: none;
}

.carrusel img {
    height: 250px;
    object-fit: cover;
    width: calc(100% / 3);
    margin-left: 14px;
    width: calc(100%/3);
}

.carrusel img:first-child {
    margin-left: 0px;
}

@media screen and (max-width: 900px) {
    .carrusel img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carrusel img {
        width: 100%;
    }
}

/*Fin "INICIO" - carrusel*/


#about {
    border: 3px red solid;
    min-height: 50px;
    margin: 0.5rem;
}

#reseñas {
    border: 3px red solid;
    min-height: 50px;
    margin: 0.5rem;
}

#reservas {
    border: 3px red solid;
    min-height: 50px;
    margin: 0.5rem;
}

#menu {
    border: 3px red solid;
    min-height: 50px;
    margin: 0.5rem;
}

#contact {
    border: 3px red solid;
    min-height: 50px;
    margin: 0.5rem;
}

/*  footer */
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 20px;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
}
/* end footer */
.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "maps texto1 ."
      ". . ."
      ". . .";
  }
  
  .maps { grid-area: maps; }
  
  .texto1 { grid-area: texto1; }
  