@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 1rem;
    height: 100%;
}

header,
nav,
body {
    border: 3px red solid;
    min-height: 50px;
    margin: 0.5rem;
    min-width: 400px;
    
}

/* barra de navegacion */
.navar {
    background-color: rgb(219, 164, 164);
    display: flex;
    flex-flow: row wrap;
    place-content: space-around;
    
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    place-content: space-around;
}

li {
    display: flex;
    justify-content: space-between;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;

}

li a:visited {
    color: rgb(75, 64, 64);
}

li a:hover {
    background-color: rgb(177, 148, 148);
    color: blue;
    transition: 0.5s;
}

.logo {
    text-align: center;
    border-radius: 50%;
}



/* fin barra de navegacion*/

/*INICIO- carrusel*/
.carrConteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    max-width: 1700px;
    padding: 0 35px;
    position: relative;
}

.carrConteiner i {
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    font-size: 2rem;
    text-align: center;
    line-height: 46px;
    background: white;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.carrConteiner i:first-child {
    left: -23px;
}

.carrConteiner i:last-child {
    left: 98%;
}

.carrConteiner .carrusel {
    white-space: nowrap;
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    scroll-behavior: smooth;
}

.carrusel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carrusel.dragging img {
    pointer-events: none;
}

.carrusel img {
    height: 250px;
    object-fit: cover;
    width: calc(100% / 3);
    margin-left: 14px;
    width: calc(100%/3);
}

.carrusel img:first-child {
    margin-left: 0px;
}

/*Fin "INICIO" - carrusel*/


/* seccion #abaut hecho Alejandro*/
#about {
    display: flex;
    align-items: baseline;
    background-color:rgb(200, 108, 112);
    border: 3px red solid;
    margin: 0.5rem;
}

.hoja1, .hoja2, .hoja3, .hoja4 {
    width: auto;
    height: auto;
    float: left;
    background-color: rgb(128, 42, 42);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 5px;
}
/* fin seccion abaut*/

#reseñas {
    border: 3px red solid;
    min-height: 50px;
    margin: 0.5rem;
}

#reservas {
    border: 3px red solid;
    min-height: 50px;
    margin: 0.5rem;
}

#menu {
    border: 3px red solid;
    min-height: 50px;
    margin: 0.5rem;
}

#contact {
    border: 3px red solid;
    min-height: 50px;
    margin: 0.5rem;
}

/*review section*/


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin:0px auto;
    justify-content: center;
    text-align:center
}
.tarjeta {
    float: left;
    border: 1px solid red;
    margin:4px; padding: 2px;
    width:300px;
    height:210px;
    overflow:auto;
}

/*END REVIW SECTION*/

/*book a table section */
#reservas>h1 {
    text-align: center;
}

.book-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .input-group label {
    margin-right: 10px;
  }
  
  .reserve-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .reserve-btn:hover {
    background-color: #2980b9;
  }

/*end book a table section*/


/*  footer */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

hr {
    height: 1px;
    background-color: red;
  }

a {
    text-decoration: none;
}

.footer-section {
    flex: 1;
}
/* end footer */

/*puntos de corte*/
@media screen and (max-width: 900px) {
    .carrusel img {
        width: calc(100% / 2);
    }
    #about {
        display: flex;
        align-items: baseline;
        flex-direction: column;
}

@media screen and (max-width: 550px) {
    .carrusel img {
        width: 100%;
    }
    
    #about {
        display: flex;
        align-items: baseline;
        flex-direction: column;
}